# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
Hospital_Revised_Flatfiles.pdf
RAssignment3.Rproj
hospital-data.csv
outcome-of-care-measures.csv
rprog_doc_ProgAssignment3.pdf
R Programming Assignment 3.Rproj
